.menu ul {
    list-style: none;
}

.menu-option {
    position: relative;
    text-align: left;
    padding: 8px;
    background-color: rgba(207, 207, 210, 0.8);
    cursor: pointer;
}

.menu-option ul {
    padding: 0;
}

.menu-option ul li {
    display: block;
    overflow: hidden;
    height: 0;
    transition: all 750ms;
    padding: 0;
}

.menu-option li {
    background-color: rgba(106, 106, 126, 0.8);
    padding: 4px;
    cursor: pointer;
}

.menu-option:hover ul li {
    display: block;
    height: 1.5rem;
    padding: 2px 8px;
}